.about{
  width: 100%;
  padding: 80px 0;
  background: rgb(255, 251, 247);
}

.about-title{
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 48px;
}

.about-img{
  width: 100%;
  min-height: 250px;
  max-height: 420px;
}

.shape{
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.news{
  padding: 80px 0;
}

.news .shape{
  margin: 0;
}

.card-news{
  width: 100%;
  margin-bottom: 36px;
}

.news-img{
  width: 100%;
  margin-bottom: 35px;
}

.news-text{
  margin-bottom: 16px;
}

.dot .news-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-btn{
  display: block;
  margin: 0 auto;
  background-color: #68FFBF;
}


@media only screen and (min-width:992px) {
  .about{
    padding: 92px 0;
  }

  .about-title{
    margin-bottom: 100px;
    font-size: 72px;
  }

  .news{
    padding: 100px 0;
  }

  .news-title{
    background-image: linear-gradient(rgba(0, 0, 0, 0) calc(99% - 2px), #080808 2px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
  }
  .news-img{
    width: 100%;
    transform: scaleY(0.8);
    transition: 0.4s ease-in-out;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.873749, 0, 1);
  }
  .news-box:nth-child(odd) .news-img{
    height: 240px;
  }

  .news-box:nth-child(even) .news-img{
    height: 300px;
  }

  .card-news:hover .news-title{
    background-size: 100% 100%;
  }

}
